<p>
    Search: <input ng-model="search">
</p>

<table class="table table-bordered">

    <tr ng-repeat="product in products | orderBy:'name' | filter:search" >
        <td class="tdCenter"><img ng-src="img/products/{{product.sku}}.jpg" alt="{{product.name}}" /></td>
        <td>
            <a href="#/products/{{product.sku}}"><b>{{product.name}}</b></a><br />
            {{product.description}}
        </td>
        <td class="tdRight">
            {{product.price | currency}}
        </td>

    </tr>

</table>