<div>
    <form class="well">
        <div class="table_3_cols">
            <div ng-repeat="(key, data) in users_fields(users.0)" class="table_col_in_three">            
                <label class="row{{$index%3}}">{{key}}</label> 
                <input class="row{{$index%3}}" type="text" name="key" ng-model="newuser[key]"/>
            </div>
        </div>
        <br/>
        <input type="hidden" ng-model="newuser.id" />
        <input  type="button" value="Save" ng-click="save()" class="btn btn-primary"/>
    </form>

    <table class="table table-striped table-bordered">
        <thead> 
        <tr>            
            <th ng-repeat="(key, data) in users_fields(users.0)">{{key}}</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <td ng-repeat="(key, data) in users_fields(user)">
                {{data}}
            </td>
            <td>
                <input type="button" class="button_as_link" value="edit" ng-click="edit(user.id)"/> | 
                <input type="button" class="button_as_link" value="delete" ng-click="delete(user.id)"/>
            </td>
         </tr>
        </tbody>
    </table>    
</div>
